<footer class="d-flex flex-row-nowrap justify-content-center p-10">
    <div class="flex-fill content d-flex flex-row-nowrap justify-content-end align-items-end p-20">
        <p>Quori | Benjamin Carpentier | 2023 - 2024</p>
    </div>
</footer>